<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section id='eventBuilder-form' class="container">
          <div class="row">
          <div class="col-md-10 col-md-offset-1">

            <form class="form-horizontal">
              <fieldset>

                <!-- Form Name -->
                <legend>Add New Event</legend>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="arena">Arena Name</label>
                  <div class="col-md-6 col-xs-6">
                  <input id="arena" name="arena" type="text" placeholder="MGM Grand Garden Arena" class="form-control input-md">

                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="city">The City And State</label>
                  <div class="col-md-6 col-xs-6">
                  <input id="city" name="city" type="text" placeholder="Las Vegas, NV" class="form-control input-md">

                  </div>
                </div>

                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="day">Date of Event</label>
                  <div class="col-md-6 col-xs-6">
                  <input id="day" name="day" type="text" placeholder="May 27, 2017" class="form-control input-md">

                  </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="singlebutton">Save Event</label>
                  <div class="col-md-6 col-xs-6">
                    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
                  </div>
                </div>



              </fieldset>
            </form>
          </div>
          </div>
        </section>

  </body>
</html>
