<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Collective MMA</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="scoreCard" href="/views/scoreCard.html"

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-primary">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MMA Collective</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/views/fighter.html">Pick A Fight <span class="sr-only">(current)</span></a></li>
        <li><a href="./scoreCard.html">Score A Fight</a></li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Fighter Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class='fighterCreate'><a href="#">Fighter</a></li>
            <li><a href="#">Judge</a></li>
            <li><a href="#">Referee</a></li>
          </ul>
        </li>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section id='fighterBuilder-form' class="container">
      <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <form class="form-horizontal">
          <fieldset>

            <!-- Form Name -->
            <legend>Add New Fighter</legend>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="division">Weight Class</label>
              <div class="col-md-4">
              <input id="division" name="division" type="text" placeholder="" class="form-control input-md" required="">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="familyName">Last Name</label>
              <div class="col-md-4">
              <input id="familyName" name="familyName" type="text" placeholder="" class="form-control input-md">

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="birthName">First Name</label>
              <div class="col-md-4">
              <input id="birthName" name="birthName" type="text" placeholder="" class="form-control input-md">

              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="rookieYear">Pro Debut</label>
              <div class="col-md-4">
              <input id="rookieYear" name="rookieYear" type="text" placeholder="optional" class="form-control input-md">

              </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="record">Record</label>
              <div class="col-md-4">
              <input id="record" name="record" type="text" placeholder="Wins Loss or Draws" class="form-control input-md">

              </div>
            </div>


            <!-- Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="singlebutton">Save Fighter</label>
              <div class="col-md-4">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      </div>
    </section>

     <!--   END FORM SAMPLE -->




    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Fighters</h2>
        </div>
      </div>
      <!-- Create fighters! -->
      <div id='fighters'>
        <script id='fighter-template' type='text/x-handlebars-template'>
          <!-- one fighter -->
          <div class="row fighter" data-fighter-id="{{_id}}">

            <div class="col-md-10 col-md-offset-1">
              <div class="panel panel-default">
                <div class="panel-body">


                <!-- begin fighter internal row -->
                  <div class='row'>
                    <div class="col-md-3 col-xs-12 thumbnail fighter-art">
                      <img src="images/800x800.png" alt="fighter image">
                    </div>

                    <div class="col-md-9 col-xs-12">
                      <ul class="list-group">
                        <li class="list-group-item">
                          <h4 class='inline-header'>First Name:</h4>
                          <span class='fighter-name'>{{name}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Last Name:</h4>
                          <span class='artist-name'>{{artistName}}</span>
                        </li>

                        <li class="list-group-item">
                          <h4 class='inline-header'>Pro Debut:</h4>
                          <span class='fighter-birthName'>{{proDebut}}</span>
                        </li>


                        <li class="list-group-item">
                          <h4 class="inline-header">Events:</h4>
                          <span>&ndash; {{#each events}} ({{trackNumber}}) {{name}} &ndash;  {{/each}}</span>
                        </li>

                      </ul>
                    </div>

                  </div>
                  <!-- end of fighter internal row -->

                  <div class='panel-footer'>
                    <div class='panel-footer'>
                      <button class='btn btn-primary add-event'>Add Event</button>
                      <button class='btn btn-danger delete-fighter'>Delete Event</button>
                      <button class='btn btn-info edit-fighter'>Edit Event</button>
                      <button class='btn btn-success save-fighter hidden'>Save Changes</button>
                      <button class='btn btn-info edit-predictions'>Edit Prediction</button>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
          <!-- end one fighter -->
        </script>

      </div>
    </section>

    <!-- pick a fight modal, wont be visible until you click pick a fight on nav bar -->
    <div class="modal fade" tabindex="-1" role="dialog" id="predictionModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Match Maker</h4>
          </div>
          <div class="modal-body">

            <fieldset class='form-horizontal'>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="favoriteName">Favorite</label>
                <div class="col-md-4">
                  <input id="favoriteName" name="favoriteName" type="text" placeholder="Select a fighter" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="dogName">Underdog</label>
                <div class="col-md-4">
                  <input id="dogName" name="dogName" type="text" placeholder="Select a fighter" class="form-control input-md">
                </div>
              </div>
            </fieldset>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="setMatch">Make the Match</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- Edit Events Modal -->
    <div class="modal fade bs-modal-lg" id="editEventsModal" tabindex="-1" role="dialog" aria-labelledby="editEventsModalTitle">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="editEventsModalTitle">Edit Event List</h4>
          </div>
          <div class="modal-body" id='editEventsModalBody'>
            <p> REPLACE #editEventsModalBody </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id='editEventsModalSubmit'>Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>




    <!-- template for editing / deleting a prediction -->
    <script id='prediction-edit-template' type='text/x-handlebars-template'>
      {{#each events}}
      <!-- confused by ../fighterId ?  See:
      http://stackoverflow.com/questions/12297959/access-properties-of-the-parent-with-a-handlebars-each-loop#12297980
      -->
      <form class="form-inline" id="{{_id}}" data-fighter-id="{{../fighterId}}" >
        <div class="form-group">
          <input type="text" class="form-control prediction-trackNumber" value="{{trackNumber}}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control prediction-name" value="{{name}}">
        </div>
        <div class="form-group">
          <button class="btn btn-danger" data-prediction-id="{{_id}}">x</button>
        </div>
      </form>
      {{/each}}
    </script>

  </script>
</html>
