<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Collective MMA</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">Silence is Consensus</div>

    <section id='score-card-form' class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6">
          <form class="form-horizontal" id='left-sc-form'>Fighter 1</form>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Round 1 Score
              <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a>10</a></li>
                <li role="presentation"><a>9</a></li>
                <li role="presentation"><a>8</a></li>
              </ul>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Striking
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Grappling
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Octagon Control
            </label>
          </div>
          <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6">
        <form class="form-horizontal" id='right-sc-form'>Fighter 2</form>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Round 1 Score
            <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a>10</a></li>
              <li role="presentation"><a>9</a></li>
              <li role="presentation"><a>8</a></li>
            </ul>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Striking
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Grappling
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Octagon Control
            </label>
          </div>
          <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <div class="row">
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6">
          <form class="form-horizontal" id='left-sc-form'>Fighter 1</form>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Round 2 Score
              <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a>10</a></li>
                <li role="presentation"><a>9</a></li>
                <li role="presentation"><a>8</a></li>
              </ul>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Striking
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Grappling
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Octagon Control
            </label>
          </div>
          <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6">
        <form class="form-horizontal" id='right-sc-form'>Fighter 2</form>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Round 2 Score
            <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a>10</a></li>
              <li role="presentation"><a>9</a></li>
              <li role="presentation"><a>8</a></li>
            </ul>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Striking
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Grappling
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Octagon Control
            </label>
          </div>
          <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6">
          <form class="form-horizontal" id='left-sc-form'>Fighter 1</form>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Round 3 Score
              <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a>10</a></li>
                <li role="presentation"><a>9</a></li>
                <li role="presentation"><a>8</a></li>
              </ul>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Striking
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Grappling
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Octagon Control
            </label>
          </div>
          <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6">
        <form class="form-horizontal" id='right-sc-form'>Fighter 2</form>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Round 3 Score
            <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a>10</a></li>
              <li role="presentation"><a>9</a></li>
              <li role="presentation"><a>8</a></li>
            </ul>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Striking
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Grappling
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Octagon Control
            </label>
          </div>
          <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6">
          <form class="form-horizontal" id='left-sc-form'>Fighter 1</form>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Round 4 Score
              <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a>10</a></li>
                <li role="presentation"><a>9</a></li>
                <li role="presentation"><a>8</a></li>
              </ul>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Striking
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Grappling
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Octagon Control
            </label>
          </div>
          <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6">
        <form class="form-horizontal" id='right-sc-form'>Fighter 2</form>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Round 4 Score
            <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a>10</a></li>
              <li role="presentation"><a>9</a></li>
              <li role="presentation"><a>8</a></li>
            </ul>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Striking
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Grappling
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Octagon Control
            </label>
          </div>
          <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6">
          <form class="form-horizontal" id='left-sc-form'>Fighter 1</form>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Round 5 Score
              <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a>10</a></li>
                <li role="presentation"><a>9</a></li>
                <li role="presentation"><a>8</a></li>
              </ul>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Striking
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Grappling
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Octagon Control
            </label>
          </div>
          <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6">
        <form class="form-horizontal" id='right-sc-form'>Fighter 2</form>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Round 5 Score
            <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
              <li role="presentation"><a>10</a></li>
              <li role="presentation"><a>9</a></li>
              <li role="presentation"><a>8</a></li>
            </ul>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Striking
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Effective Grappling
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
              Octagon Control
            </label>
          </div>
          <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
        </div>
      </div>
    </section>

  </body>
</html>
