<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> Score Card </title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>

  </head>
  <body>
    <section id='score-card-form' class="container">
        <div class="row">
          <div class="col-md-5 col-sm-6 col-xs-6">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle fighter1" data-toggle="dropdown">
                Score: <span id ="F1R1" class="selection">Round 1</span><span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">10</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">7</a></li>
              </ul>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="EffectiveStriking1" id="ESradio" value="option2">
                Effective Striking
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="EffectiveGrappling1" id="EGradio" value="option2">
                Effective Grappling
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="OctagonControl1" id="OCradio" value="option2">
                Octagon Control
              </label>
            </div>
            <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
          </div>
          <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle fighter2" data-toggle="dropdown">
                    Score: <span id='F2R1' class="selection">Round 1</span><span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">10</a></li>
                    <li><a href="#">9</a></li>
                    <li><a href="#">8</a></li>
                    <li><a href="#">7</a></li>
                  </ul>
              </div>
            <div class="radio">
              <label>
                <input type="radio" name="EffectiveStriking1" id="ESradio" value="option2">
                Effective Striking
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="EffectiveGrappling1" id="EGradio" value="option2">
                Effective Grappling
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="OctagonControl1" id="OCradio" value="option2">
                Octagon Control
              </label>
            </div>
            <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
        </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-6 col-xs-6">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle fighter1" data-toggle="dropdown">
                Score: <span id='F1R2' class="selection">Round 2</span><span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">10</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">7</a></li>
              </ul>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="EffectiveStriking2" id="ESradio" value="option2">
                Effective Striking
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="EffectiveGrappling2" id="EGradio" value="option2">
                Effective Grappling
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="OctagonControl2" id="OCradio" value="option2">
                Octagon Control
              </label>
            </div>
            <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
          </div>
          <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6">
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle fighter2" data-toggle="dropdown">
                  Score: <span id = 'F2R2' class="selection">Round 2</span><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">10</a></li>
                  <li><a href="#">9</a></li>
                  <li><a href="#">8</a></li>
                  <li><a href="#">7</a></li>
                </ul>
              </div>
            <div class="radio">
              <label>
                <input type="radio" name="EffectiveStriking2" id="ESradio" value="option2">
                Effective Striking
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="EffectiveGrappling2" id="EGradio" value="option2">
                Effective Grappling
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="OctagonControl2" id="OCradio" value="option2">
                Octagon Control
              </label>
            </div>
          <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
        </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-6 col-xs-6">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle fighter1" data-toggle="dropdown">
                Score: <span id = 'F1R3' class="selection">Round 3</span><span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">10</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">7</a></li>
              </ul>
            </div>
          <div class="radio">
            <label>
              <input type="radio" name="EffectiveStriking3" id="ESradio" value="option2">
              Effective Striking
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="EffectiveGrappling3" id="EGradio" value="option2">
              Effective Grappling
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="OctagonControl3" id="OCradio" value="option2">
              Octagon Control
            </label>
          </div>
          <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
        </div>
        <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle fighter2" data-toggle="dropdown">
                Score: <span id ='F2R3' class="selection">Round 3</span><span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">10</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">7</a></li>
              </ul>
            </div>
          <div class="radio">
            <label>
              <input type="radio" name="EffectiveStriking3" id="ESradio" value="option2">
              Effective Striking
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="EffectiveGrappling3" id="EGradio" value="option2">
              Effective Grappling
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="OctagonControl3" id="OCradio" value="option2">
              Octagon Control
            </label>
          </div>
          <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
        </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-6 col-xs-6">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle fighter1" data-toggle="dropdown">
                Score: <span id = 'F1R4' class="selection">Round 4</span><span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">10</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">7</a></li>
              </ul>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="EffectiveStriking4" id="ESradio" value="option2">
                Effective Striking
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="EffectiveGrappling4" id="EGradio" value="option2">
                Effective Grappling
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="OctagonControl4" id="OCradio" value="option2">
                Octagon Control
              </label>
            </div>
            <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
          </div>
          <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6">
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle fighter2" data-toggle="dropdown">
                  Score: <span id = 'F2R4' class="selection">Round 4</span><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">10</a></li>
                  <li><a href="#">9</a></li>
                  <li><a href="#">8</a></li>
                  <li><a href="#">7</a></li>
                </ul>
              </div>
            <div class="radio">
              <label>
                <input type="radio" name="EffectiveStriking4" id="ESradio" value="option2">
                Effective Striking
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="EffectiveGrappling4" id="EGradio" value="option2">
                Effective Grappling
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="OctagonControl4" id="OCradio" value="option2">
                Octagon Control
              </label>
            </div>
            <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
        </div>
        </div>
        <div class="row">
          <div class="col-md-5 col-sm-6 col-xs-6">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle fighter1" data-toggle="dropdown">
                Score: <span id = 'F1R5' class="selection">Round 5</span><span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">10</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">7</a></li>
              </ul>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="EffectiveStriking5" id="ESradio" value="option2">
                Effective Striking
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="EffectiveGrappling5" id="EGradio" value="option2">
                Effective Grappling
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="OctagonControl5" id="OCradio" value="option2">
                Octagon Control
              </label>
            </div>
            <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
          </div>
          <div class="col-md-5 col-md-offset-1 col-sm-6 col-xs-6">
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle fighter2" data-toggle="dropdown">
                  Score: <span id = 'F2R5' class="selection">Round 5</span><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">10</a></li>
                  <li><a href="#">9</a></li>
                  <li><a href="#">8</a></li>
                  <li><a href="#">7</a></li>
                </ul>
              </div>
            <div class="radio">
              <label>
                <input type="radio" name="EffectiveStriking5" id="ESradio" value="option2">
                Effective Striking
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="EffectiveGrappling5" id="EGradio" value="option2">
                Effective Grappling
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="OctagonControl5" id="OCradio" value="option2">
                Octagon Control
              </label>
            </div>
          <textarea class="form-control" rows="2" placeholder="Round Highlight"></textarea>
        <button type="submit" id='Submit-total' class="btn btn-default pull-right">Submit</button>
        <div id="total"> </div>
        </div>
        </div>
    </section>
  </body>
</html>
